.arrayContainer {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    
}

.arrayBar{
    width: 5px;
    background-color: blue;
    display: inline-block;
    margin: 0 2px;
    position: relative;
}

.banner{
    background-color: lightskyblue;
    padding: 1rem;
}

.buttonAlgo{
    margin: 0 5px 15px;
}

.buttonNew{
    margin: 0 5px 15px;
    background-color: #43f14e;
    border-radius: 5px;
}

.buttonReset{
    margin: 0 5px 15px;
    background: #f01616;
    border-radius: 5px;
}
